#background_div{
    background: url(../Images/Slide%20Body%20Background.jpg) no-repeat;
    background-size: 100% 100%;
}

#intro_div{
    background: url(../Images/Slide%20Title.jpg) no-repeat;
    background-size: 100% 100%;
}

#intro_control_div{
    position: absolute;
    left: 10%;
    width: 80%;
    bottom: 10%;
}

#back_control_div{
    position: absolute;
    left: 2%;
    top: 2%;
}

#control_button_div{
    position: absolute;
    left: 7%;
    top: 20%;
    width: 40%;
    bottom: 10%;
}

#pneuman_control_gif{
    max-width:100%;
    max-height:100%;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

.jsgif{
    width:100%;
    height:100%;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

canvas{
    width:100%;
    height:100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.pneuman_control_state_area{
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #c7332c;
    font-size: 20px;
    background: #0ed01b;
    border: solid #c7332c 6px;
    text-decoration: none;
    margin-bottom: 3%;
}

#pneuman_control_state{
    width: 80%;
    position: absolute;
    height: 15%;
    bottom: 0;
    left: 0;
    text-align: center;
}

#control_info_wrapper{
    width: 40%;
    position: absolute;
    right: 7%;
    top: 20%;
    bottom: 10%;
}

.intro_button{
    width: 30%;
    height: 100%;
    margin: 1%;
}

.control_button{
    width: 100%;
    height: 30%;
    margin-bottom: 3%;
}

.control_info_div{
    width: 100%;
    position: absolute;
    top: 0%;
    height: 70%;

    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #c7332c;
    font-size: 20px;
    background: #fecb23;
    border: solid #c7332c 6px;
    text-decoration: none;
}

.full_screen_div{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.no_padding_margin{
    padding: 0;
    margin: 0;
}

.button{
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #c7332c;
    font-size: 20px;
    background: #fecb23;
    padding: 10px 20px 10px 20px;
    border: solid #c7332c 6px;
    text-decoration: none;
}

.button:hover {
    background: #c9c9cc;
    text-decoration: none;
}

.text_area{
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #c7332c;
    font-size: 20px;
    background: #c9c9cc;
    padding: 10px 20px 10px 20px;
    border: solid #c7332c 6px;
    text-decoration: none;
    margin: 5px;
}

.info_div{
    width: 70%;
    position: absolute;
    left: 15%;
    top: 20%;
    bottom: 10%;
    overflow: hidden;
}

.initially_hidden{
    display: none;
}

.hidden_iframe
{
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}